/* app css stylesheet */

/* projects */
body, html {
  margin:0;
  padding:0;
  font-family: "Open Sans", "Lucida Grande", "Tahoma", Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#636363;
}

body {
background: #fff;
}

.appContainer {
  width:960px;
  margin:0 auto;
  padding:0;
}

.header {
  padding:30px 0 90px 0;
  display: block;
  margin:0;
  font-family: "Lora", "Georgia", serif;
  color:#121212;
}

h1 {
  font-size:1.8em;
  margin:0 0 15px 0;
  padding:0;
  color:#363636;
}

.header h1 {
  float:left;
  margin:0;
  padding:0;
  font-size: 2.1em;
  font-weight: normal;
}

h3 {
  margin:0 0 6px 0;
  padding:0;
  font-size:1.4em;
  color:#363636;
}

p {
  font-size:14px;
  line-height:150%;
}

.header h1 a {
  margin:0;
  padding:0;
  text-decoration: none;
  color:#121212;
}

.header .menu {
  list-style: none;
  margin:0;
  padding:0;
  display: block;
  float:right;
}

.menu > li {
  display: inline;
  padding:0 20px 0 0;
}

.menu li a,
.menu li a:hover,
.menu li a:visited {
  text-decoration: none;
  font-size:2.1em;
  color:#121212;
  padding:0 0 1px 0;
}

.menu li a:hover,
.menu li a.selected {
  border-bottom:2px solid #121212;
}

ul.projects {
  margin:0;
  padding:0;
}

ul.projects,
ul.projects li {
  padding:0;
  list-style: none;
  list-style-type: none;
}

ul.projects li {
  display: block;
  margin:0;
  padding:0;
  width:320px;
  height:225px;
  float:left;
}

ul.projects li:nth-child(1),
ul.projects li.left {
  width:300px;
  padding:30px 15px 0 0;
}

ul.projects li:nth-child(2),
ul.projects li.middle {
  width:300px;
  padding:30px 15px 0 15px;
}

ul.projects li:nth-child(3),
ul.projects li.right {
  width:300px;
  padding:30px 0 0 15px;
}

ul.projects li div {
  position: relative;
}

ul.projects li img {
  width:300px;
  height:225px;
  position: absolute;
  top:0;
  left:0;
  z-index: 0;
  opacity:1;
}

ul.projects li p {
  opacity: 0;
  -webkit-transition: opacity .5s; /* For Safari 3.1 to 6.0 */
  transition: opacity .5s;
  z-index: 1;
  position: absolute;
  top:0;
  left:0;
  text-align: center;
  width:300px;
  height:225px;
  vertical-align: middle;
  cursor: pointer;
  margin:0;
  padding:0;
}

ul.projects li p:hover {
  opacity: .5;
  background: white;
}

p.project {
  font-size:14px;
  line-height: 150%;
  margin-top:0;
  padding-top:0;
}

ul.links,
ul.links li {
  list-style-type: none;
  margin:0;
  padding:0;
  line-height: 100%;
}

ul.links li {
  padding:5px 0;
}

ul.links a {
  font-size:14px;
  color:#636363;
}

div.gallery {
  width:575px;
  max-width:575px;
  margin:0 25px 0 0;
  float:left;
}

div.gallery.portrait {
  width:320px;
}

.rslides_tabs {
  list-style: none;
  padding: 0;
  background: #cccccc;
  font-size: 16px;
  list-style: none;
  margin: 0 auto 25px auto;
  padding: 6px 0;
  text-align: center;
  width: 100%;
}

.rslides_tabs li {
  display: inline;
  float: none;
  margin:0;
}

.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 6px 20px;
  height: auto;
  background: transparent;
  display: inline;
  color:#121212;
  text-decoration: none;
}

.rslides_tabs li:first-child {
  margin-left: 0;
}

.rslides_tabs .rslides_here a,
.rslides_tabs a:hover {
  background: #eee;
  text-decoration: none;
}

.reveal-animation.ng-enter {
  -webkit-animation: enter_sequence .5s linear; /* Safari/Chrome */
  animation: enter_sequence .5s linear; /* IE10+ and Future Browsers */
}
@-webkit-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
