<h1>{{project.name}}</h1>
<img width="80%" ng-repeat="img in project.gallery" />
<div class="gallery">
  <ul class="rslides">
      <li ng-repeat="image in project.images" my-post-repeat-directive>
          <img ng-src="{{image.path}}" />
      </li>
  </ul>
</div>
<p class="project"><strong>Description:</strong><br/>{{project.summary}}</p>
<p class="project"><strong>Technologies:</strong><br/>{{project.technologies}}</p>
<p class="project"><strong>Link:</strong><br/><a ng-href="{{project.link}}" target="_blank">{{project.link}}</a></p>