<h1>{{project.name}}</h1>
<img width="80%" ng-repeat="img in project.gallery" />
<div class="gallery">
  <ul class="rslides">
      <li ng-repeat="image in project.images" my-post-repeat-directive>
          <img ng-src="{{image.path}}" />
      </li>
  </ul>
</div>
<h3>Description:</h3><p class="project">{{project.summary}}</p>
<h3>Technologies:</h3><p class="project">{{project.technologies}}</p>
<h3>Links:</h3>
<ul class="links">
    <li ng-repeat="link in project.links">
      <a ng-href="{{link.path}}" target="_blank">{{link.text}}</a>
    </li>
</ul>